/* Estilos globales */

/* Color del texto seleccionado */
::selection {
	background-color: var(--colorBrandForegroundInvertedHover);
	color: var(--colorNeutralForegroundInverted);
}

/* Para navegadores basados en WebKit (Safari, Chrome, Edge) */
::-moz-selection {
	background-color: var(--colorBrandForegroundInvertedHover);
	color: var(--colorNeutralForegroundInverted);
}
